body {
  background-image: url("backgc2.png");
  color: #000305;
  font-size: 87.5%;
  font-family: Verdana, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #0856A1;

}

a:hover, a:active {
  background-color: #0856A1;
  color: #FFF;

}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainheader img {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.mainheader nav {
  background-color: #4A4E51;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainheader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainheader nav ul li {
  float: left;
  display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
  background-color: #0856A1; /* CF5CF3 */
  text-shadow: none;
}

.mainheader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainheader2 img {
  width: 15px;
  height: auto;
  display: block;
  margin-right: 0%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.mainheader2 nav {
  background-color: #4A4E51;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainheader2 nav ul {
  list-style: none;
  margin: 0%;
}

.mainheader2 nav ul li {
  float: right;
  display: inline;
}

.mainheader2 nav a:link, .mainheader2 nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainheader2 nav a:hover, .mainheader2 nav a:active,
.mainheader2 nav .active a:link, .mainheader2 nav .active2 a:visited {
  background-color: #0856A1; /* CF5CF3 */
  text-shadow: none;
}

.mainheader2 nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.experience{
  list-style: none;
  display: block;
  margin-left: 25px;

}

.experience li{
  display: inline;

}

.bilder {
  padding: 5px;
  width: 200px;
  height: 200px;

}

.maincontent {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 25px;
}

.content {
  width: 100%;
  float: left;
}

.topcontent {
  background-color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 1.5%;
}

.postinfo {
  font-style: italic;
  color: #999;
  font-size: 90%;
}

.mainfooter {
  width: 100%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #4A4E51;
  margin: 2% 0;
}

.mainfooter p {
  width: 92%;
  margin: 0.8% auto;
  color: #000;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: 0%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 13s slidy infinite;
}



@media only screen and (min-width: 150px) and (max-width: 700px)
{

  .body {
    width: 90%;
    font-size: 95%;
  }

  .mainheader img {
    width: 100%;
    height: auto;
    margin: 2px 10px;
    margin-bottom: 4%;
    margin-top: 4%;
  }

  .mainheader nav {
    height: 160px;
  }

  .mainheader nav ul {
    padding-left: 0;
  }

  .mainheader nav ul li {
    width: 100%;
    text-align: center;
  }

  .mainheader nav a:link, .mainheader nav a:visited {
    padding: 10px 25px;
    height: 20px;
    display: block;
  }

  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }

  .postinfo {
    display: none;
  }


  .topcontent {
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
  }

  .experience {
    margin-left: -17px;

    }

  .experience li {
    margin-left: -17px;

      }

  .mainfooter{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 12px;
  }
}
